.thumbnail{
  cursor: pointer;
  position: relative;
  width: 263px;
  height: 150px;
  &--img{
    width: 100%;
    height: 100%;
  }
  &--close{
    background-color: black;
    padding: 6px;
    width: 24px;
    position: absolute;
    top: 8px;
    right: 9px;
    border-radius: 5px;
  }
  &--duration{
    padding: 4px;
    border-radius: 5px;
    background-color: #121D30;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 8px;
    right: 9px;
    color: white;
    opacity: 0.8;
  }
}