.modal-header{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 4px;
  &--close{
    cursor: pointer;
    margin-top: 37px;
    width: 22px;
  }
}

.modal-content{
  display: flex;
  &--info{
    overflow: auto;
    margin-left: 17px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    &--button-wrapper{
      display: flex;
      justify-content: flex-end;
      margin-top: 29px;
    }
  }
}